<?xml version="1.0" encoding="UTF-8"?>
    <!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>

	<session-factory>

		<property name="hibernate.dialect">org.hibernate.dialect.PostgreSQLDialect</property>
		<property name="hibernate.connection.driver_class">org.postgresql.Driver</property>
		
		
		<property name="hibernate.connection.url">jdbc:postgresql://localhost:5432/Zion</property> 
		<property name="hibernate.connection.username">postgres</property> 
		<property name="hibernate.connection.password">P2a3u0l9</property> 
		
 
		

		<!-- 
		
		<property name="hibernate.connection.url">jdbc:postgresql://localhost:5432/Zion</property> 
		<property name="hibernate.connection.username">postgres</property> 
		<property name="hibernate.connection.password">p2a3u0l9</property> 
		
		
		
		<property name="hibernate.connection.url">jdbc:postgresql://node126887-projetabrasil.jelasticlw.com.br/ProjetaBrasil </property> 
		<property name="hibernate.connection.username">webadmin</property>
		<property name="hibernate.connection.password">pMOrtIm2tF</property>


		<property name="hibernate.connection.url">jdbc:postgresql://179.188.20.241:5432/Zion</property> 												   
		<property name="hibernate.connection.username">webadmin</property>
		<property name="hibernate.connection.password">pMOrtIm2tF</property>
		
		-->


		<property name="hibernate.c3p0.min_size">5</property>
		<property name="hibernate.c3p0.max_size">20</property>
		<property name="hibernate.c3p0.timeout">300</property>
		<property name="hibernate.c3p0.max_statements">50</property>
		<property name="hibernate.c3p0.idle_test_period">3000</property>

		<!-- Pool de Conexões -->
		<property name="connection.pool_size">1</property>

		<!-- Gerenciamento do Contexto das Sessões -->
		<property name="current_session_context_class">thread</property>




		<!-- Cache de Segundo Nível -->
		<property name="cache.provider_class">org.hibernate.cache.internal.NoCacheProvider</property>

		<!-- Mostra as SQLs Geradas -->		
		<property name="hibernate.show_sql">false</property>
		<property name="hibernate.format_sql">false</property>

		<!-- Cria as tabelas do banco de dados -->
		<property name="hbm2ddl.auto">update</property>
		<property name="hibernate.temp.use_jdbc_metadata_defaults">false</property>

		<!-- Mapeamento das entidades -->		
		
		<mapping class="model.entities.Bairro" />
		<mapping class="model.entities.Cidade" />
		<mapping class="model.entities.Contato" />
		
		<mapping class="model.entities.Endereco" />
		<mapping class="model.entities.Estado" />
		<mapping class="model.entities.Inscricao" />
		<mapping class="model.entities.Inscricao_Historico" />
		<mapping class="model.entities.Bairro" />
		<mapping class="model.entities.Logradouro" />
		<mapping class="model.entities.Pais" />				
		<mapping class="model.entities.Pessoa_Perfil_e_Vinculo" />
		<mapping class="model.entities.Pessoa" />
		<mapping class="model.entities.Profissao" />
		<mapping class="model.entities.ProtocolosdeServicos_Detalhe_Comparativo" />
		<mapping class="model.entities.ProtocolosdeServicos_Detalhe" />
		<mapping class="model.entities.ProtocolosdeServicos" />
		<mapping class="model.entities.Usuario" />
		
	</session-factory>

</hibernate-configuration>
